#===============================================
# FILES TO BE IGNORED BY GIT
#===============================================
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars
.terraform.lock.hcl
.terraform

#===============================================
# FILES TO BE TRACKED BY GIT
#===============================================
!main.tf
!.gitignore
!README.md
!terraform.tfvars