#===============================================
# FILES TO BE IGNORED BY GIT
#===============================================
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
.terraform
*.pem

#===============================================
# FILES TO BE TRACKED BY GIT
#===============================================
!main.tf
!.gitignore
!README.md
!variables.tf
!outputs.tf
!data.tf
!locals.tf
!users.cv
!providers.tf